% rebase('base.html', title='Ooops, página não encontrada...')

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background image</title>

    <style>
        body {

            background-image: url("404_door.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .max-width {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
        }
    </style>
</head>

<body>

    <div class="panel-heading">
        <center>
            <h3 class="panel-title">Ooops...página não encontrada!</h3><br/>
            <a href="/" class="btn btn-default">Ir para a página principal</a>
        </center>
    </div>
</body>

</html>
